<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="dcff81c3-ece3-4083-a4b8-f5d524337bf0" Name="Mingle.GherkinExtractor.Setup" Language="1033" Version="1.0.0.0" Manufacturer="Mingle.GherkinExtractor.Setup" UpgradeCode="6f551b82-86d4-4c59-a7f4-643f3406f7f5">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ProductDirectory" Name="$(var.ProductName)">
          <Directory Id="GAC" Name="GAC">
            <Component Id="Mingle.GherkinExtractor" Guid="55857611-A13E-51ED-897B-A78830F68ADC" DiskId="1">
              <!-- Registering assembly in GAC -->
              <File Id="Mingle.GherkinExtractor" Name="Mingle.GherkinExtractor.dll" LongName="Mingle.GherkinExtractor.dll" Source="$(var.SrcPath)
               \Mingle.GherkinExtractor.dll" KeyPath="yes" Assembly=".net"/>
            </Component>
          </Directory>
        </Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="Mingle.GherkinExtractor.Setup" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<!-- <ComponentRef Id="ProductComponent" /> -->
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
